*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

model-viewer {
    width: 100vw;
    height: 100vh;
    top: 0px; 
    background-color:transparent;
    margin: 0 auto;

}

.container {
    display: block;
    width: 400px;
    height: 100000px;
    background: black;
    float: left;
    margin: 0;
}

button {
    background-color: #ffffff !important;
    border-color: transparent !important;
}

button:focus {outline:none!important;}
