*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    background: #5D6D7E;
}

model-viewer {
    width: 100vw;
    height: 100vh;
    top: 0px; 
    background-color:transparent;
    margin: 0 auto;
}

.HotspotAnnotation {
    display: inline;    
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.btn-5 {
  background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA  51%, #50C9C3  100%);
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  display: block;
  border-width: 0px !important;
}

.btn-5:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

