body {
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

model-viewer {
    width: 1600px;
    height: 900px;
    margin: 0 auto;
}

button {
    background-color: #ffffff !important;
    border-color: transparent !important;
}